.companies{
    display: flexbox;
    /* gap: 80px; */
}

.companies button{
    width: 259px;
    height: 60px;
    border-radius: 5px;
    background-color: whitesmoke;
    box-shadow: 4px 4px 8px 4px rgb(223, 220, 220);
    margin: 2rem 1rem 2rem 1rem;
    font-size: large;
    border: black;
}

.companies button:hover{
    background-color:rgb(77, 76, 76);
    color: white;
    cursor: pointer;
}

.companies a{
    text-decoration: none;
    color: currentColor;
}

.top_buttons{
    /* margin-left: auto;  */
    /* float: right; */
    display: flex;
}

.top_buttons button{
    margin-left: 1rem;
    border: none;
}


.add_buttons:hover{
    background-color: blue;
}
.delete_buttons:hover{
    background-color:rgba(240, 52, 52, 0.872);
}