.search_button input {
    width: 20rem;
    background-color: whitesmoke;
    border-radius: 5px;
    border: none;
    padding: 5px 0px 5px 10px;
    font-size: 17px;
    cursor: text;
    box-shadow: 2px 2px 4px 2px rgb(223, 220, 220);
}

.d-none {
    display: none;
}